/* goggle font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common info */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* display */

.displays{
    background-color: #2D25A0;
}

.display-info{
    display: flex;
    align-items: center;
    
}
.display-details{
    padding: 150px;
    margin: 15px;
}
.display-details .button-1{
    padding: 15px;
    background-color: red;
    color:white;
}
.button-1:hover{
    background-color: black;

}
.display-info h1{
    color: #ffffff;
    font-size: 64px
}
.displays img{
    padding-right: 100px;
    width: 556.01px;
    height: 438px;
}

/* players style */

.players{
    margin: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player .player-image{
    width: 300px;
    height: 256px;
}
.player{
    width: 330px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-right: 150px;
    box-shadow: 1px 1px 10px rgb(184, 178, 178);
}
.player-info{
    margin-right:0px;
}

/* summary */

.summary img{
    width: 567px;
    height: 427px;
}.summary-detail{
    display: flex;
    margin-right: 50px;
}
.summary-detail .sum{
    margin: 50px;
}
.button-2{
    padding: 15px;
    background-color: red;
    color:white; 
}
.button-2:hover{
    background-color: black;

}
.sum-head{
    font-size: 48px;
}

/* footer */

footer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer img{
    width: 483.87px;
}
footer .i{
    padding: 5px;
    background-color: grey;
    border-radius: 50%;
}

/* media query */

@media only screen and (max-width:688px){
    .displays{
        width: 100%;
    }
    .display-info{
        display: grid;
        grid-template-columns: 1fr;
    }
    .player{
        width: 100%;
    }
    .players{
        display:grid;
        grid-template-columns: 1fr;
    }
    .summary{
        width: 100%;
    }
    .summary-detail{
        display: grid;
        grid-template-columns: 1fr;
    }
     footer{
        display: flex;
        flex-direction: column;
    }   
}

@media only screen and(min-width:688px) and (max-width:992px) {
    .displays{
        width: 100%;
    }
    .display-info{
        display: grid;
        grid-template-columns: 2fr;
    }
    .player{
        width: 100%;
    }
    .players{
        display:grid;
        grid-template-columns: 2fr;
    }
    .summary{
        width: 100%;
    }
    .summary-detail{
        display: flex;
        
    }
     
}